<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://forms.gle/DDGhiNe9rQrhGiSw6" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00 </td>  <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/01-run-quit"> Introduction to Programming in Python </a> </td> </tr>
      <tr> <td>09:30 </td>  <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/02-variables"> Variables and Assignment </a> </td> </tr>
      <tr> <td>10:00</td>  <td>Morning break I </td> </tr>
      <tr> <td>10:10 </td>  <td> <a href="https://openai.com/blog/chatgpt"> Short Introduction to ChatGPT </a> </td> </tr>
      <tr> <td>10:50</td>  <td>Morning break II</td> </tr>
      <tr> <td>11:00 </td>  <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/03-types-conversion"> Data Types and Type Conversion </a> </td> </tr>
      <tr> <td>11:20</td>  <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/04-built-in"> Built-in Functions and Help </a> </td> </tr>
      <tr> <td>11:40</td>  <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/06-libraries"> Libraries </a> </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:50</td>  <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular"> Reading Tabular Data into DataFrames </a> </td> </tr>
      <tr> <td>13:10</td>  <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/08-data-frames"> Pandas DataFrames </a> </td> </tr>
      <tr> <td>13:40</td>  <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/09-plotting"> Plotting </a> </td> </tr>
      <tr> <td>14:00</td>  <td>Make Python Programs with ChatGPT(a few examples)</td> </tr>
      <tr> <td>14:50</td>  <td>Wrap-up</td> </tr>
       <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/11-lists"> Lists </a> </td> </tr>
      <tr> <td>09:25</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/12-for-loops"> For Loops </a> </td> </tr>
      <tr> <td>10:00</td>  <td>Morning break I </td> </tr>
      <tr> <td>10:10 </td>  <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/13-conditionals"> Conditionals </a> </td> </tr>
      <tr> <td>10:35 </td>  <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets"> Looping Over Data Sets </a> </td> </tr>
      <tr> <td>10:50</td>  <td>Morning break II</td> </tr>
      <tr> <td>11:00 </td>  <td> <a href="https://swcarpentry.github.io/python-novice-gapminder/16-writing-functions"> Writing Functions </a> </td> </tr>
      <tr> <td>11:35</td>  <td> <a href="https://numpy.org/doc/stable/user/quickstart.html"> Numpy </a> </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:50</td>  <td> <a href="https://numpy.org/doc/stable/user/quickstart.html"> Numpy(continued) </a> </td> </tr>
      <tr> <td>13:10</td>  <td> <a href="https://datacarpentry.org/image-processing/01-introduction.html"> Image Processing with Python </a> </td> </tr>
      <tr> <td>14:00</td>  <td>Make Python Programs with ChatGPT(a few examples)</td> </tr>
      <tr> <td>14:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:55</td> <td><a href="https://forms.gle/TVDTFCfZZRY6UVEh7" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
